---
import { Icons } from "@/components/icon"
import { Badge } from "@/components/ui/badge"
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"

interface Props {
  entry: CollectionEntry<"projects">
}

const entry = Astro.props.entry

const { title, demo, github, technology, screenshot } = entry.data
const { Content } = await entry.render()
---

<li
  class="group relative flex flex-col-reverse gap-4 transition-colors sm:flex-row"
>
  <figure class="w-36">
    {
      screenshot ? (
        <Image
          src={screenshot}
          alt={title}
          width={640}
          height={360}
          format="avif"
          class="rounded-md border"
        />
      ) : (
        <div class="hidden aspect-video items-center rounded-md border sm:flex">
          <Icons.gitHub className="w-8 h-8 m-auto" />
        </div>
      )
    }
  </figure>
  <div class="space-y-1 sm:flex-1">
    <a href={demo || github}>
      <h3 class="font-semibold after:content-['_↗'] group-hover:text-primary">
        {title}
      </h3>
    </a>
    <div class="project-description">
      <Content />
    </div>
    <div class="flex gap-1">
      {
        technology.map((item) => (
          <Badge variant="outline" className="text-primary border-primary">
            {item}
          </Badge>
        ))
      }
    </div>
  </div>
  <div
    class="highlighter absolute -inset-4 -z-10 rounded-md transition-colors group-hover:bg-muted"
  >
  </div>
</li>

<style>
  @reference "@/styles/globals.css";
  .project-description {
    @apply text-sm text-muted-foreground;
  }

  .project-description a {
    @apply text-foreground hover:underline;
  }

  .project-description a::after {
    content: " ↗";
  }
</style>
