<section id="about" class="my-8">
  <small class="text-sm">Hello, my name is</small>
  <h2 class="text-4xl font-bold tracking-tight text-primary my-2">Viet-Hung Nguyen</h2>
  <p class="text-sm">I'm an international student from Vietnam studying at Simon Fraser University.</p>
  <p class="text-sm">I enjoy creating beautiful and user-friendly applications and I'm passionate to learn new technology.</p>
</section>