<section id="about" class="my-8 space-y-2 container scroll-mt-16">
  <small class="text-sm">👋 Hello, my name is</small>
  <h1 class="text-4xl font-bold tracking-tight">Viet-Hung Nguyen</h1>
  <p>
    I'm an international student from Vietnam studying at Simon Fraser
    University.
  </p>
  <p>
    I enjoy creating beautiful and user-friendly applications and I'm passionate
    to learn new technology.
  </p>
</section>
