---
import profile from "@/assets/me.png"
import { GITHUB, LINKEDIN } from "@/lib/constants"
import { Image } from "astro:assets"
import { cn } from "../../lib/utils"
---

<section
  id="about"
  class="container my-8 flex scroll-mt-16 flex-col-reverse items-start gap-8 sm:flex-row"
>
  <div class="space-y-4">
    <small class="text-sm">👋 Hello, my name is</small>
    <h1 class="font-mono text-4xl font-semibold tracking-tight text-primary">
      Viet-Hung Nguyen
    </h1>
    <div class="space-y-4 text-muted-foreground text-sm">
      <p>
        I'm an international student from Vietnam recently graduated from Simon Fraser
        University.
      </p>
      <p>
        I enjoy creating beautiful and user-friendly applications and I'm
        passionate to learn new technologies.
      </p>
      <p>
        I previously worked as an Android Developer at 
        <a href="https://gm.com" rel="noreferrer" class="text-foreground underline after:content-['_↗'] hover:text-primary">
          General Motors
        </a>.
        <br />Currently, I'm looking for new opportunities.
      </p>
      <p>
        Find me on <a
          href={LINKEDIN}
          class="text-foreground underline after:content-['_↗'] hover:text-primary"
          >Linkedin</a
        > or <a
          href={GITHUB}
          class="text-foreground underline after:content-['_↗'] hover:text-primary"
          >GitHub</a
        >
      </p>
    </div>
  </div>
  <Image
    alt="My profile"
    src={profile}
    class={cn(
      "h-[120px] w-[120px] md:h-[200px] md:w-[200px]",
      "rounded-full border-8",
      "mix-blend-luminosity hover:mix-blend-normal"
    )}
  />
</section>
