---
import profile from "@/assets/me.png"
import { GITHUB, LINKEDIN } from "@/lib/constants"
import { Image } from "astro:assets"
import { cn } from "../../lib/utils"
---

<section
  id="about"
  class="container my-8 flex scroll-mt-16 flex-col-reverse items-start gap-8 sm:flex-row"
>
  <div class="space-y-4">
    <small class="text-sm">👋 Hello, my name is</small>
    <h1 class="font-mono text-4xl font-semibold tracking-tight text-primary">
      Viet-Hung Nguyen
    </h1>
    <div class="space-y-2">
      <p class="text-sm text-foreground/80">
        I'm an international student from Vietnam studying at Simon Fraser
        University.
      </p>
      <p class="text-sm text-foreground/80">
        I enjoy creating beautiful and user-friendly applications and I'm
        passionate to learn new technology.
      </p>
      <p class="text-sm text-foreground/80">
        I'm currently looking for a role as a developer.
        <a
          class={cn(
            "relative bg-background px-2 py-1 font-semibold text-foreground",
            "rounded-full border border-primary",
            "before:absolute before:-inset-1 before:content-['']",
            "before:-z-10 before:rounded-full before:bg-primary before:blur",
            "before:hidden hover:before:block"
          )}
          href="/resume.pdf">Hire me?</a
        >
      </p>
      <p class="text-sm text-foreground/80">
        Find me on <a
          href={LINKEDIN}
          class="text-foreground underline after:content-['_↗'] hover:text-primary"
          >Linkedin</a
        > or <a
          href={GITHUB}
          class="text-foreground underline after:content-['_↗'] hover:text-primary"
          >GitHub</a
        >
      </p>
    </div>
  </div>
  <Image
    alt="My profile"
    src={profile}
    class={cn(
      "h-[120px] w-[120px] md:h-[200px] md:w-[200px]",
      "rounded-full border-8",
      "mix-blend-luminosity"
    )}
  />
</section>
