---
import { BLOG } from "@/lib/constants"
import { cn } from "@/lib/utils"
import Logo from "./Logo.astro"
import { ThemeSwitcher } from "./ThemeSwitcher"
import { buttonVariants } from "./ui/button"
---

<div class="container py-1 flex items-center justify-between">
  <Logo />
  <div class="flex items-center">
    <a
      href={BLOG}
      class={cn(buttonVariants({ variant: "link" }), "text-foreground")}
    >
      <span class="after:content-['_↗']">Blog</span>
    </a>
    <ThemeSwitcher client:load />
  </div>
</div>
