---
import { BLOG } from "@/lib/constants"
import { cn } from "@/lib/utils"
import { Logo } from "./logo/Logo"
import { ThemeSwitcher } from "./theme/ThemeSwitcher"
import { buttonVariants } from "./ui/button"
---

<div class="container flex items-center justify-between py-1">
  <Logo client:load />
  <div class="flex items-center">
    <a
      href={BLOG}
      class={cn(buttonVariants({ variant: "link" }), "text-foreground")}
    >
      <span class="after:content-['_↗']">Blog</span>
    </a>
    <ThemeSwitcher client:load />
  </div>
</div>
