---
import { Icons } from '@/components/icon';
import { GITHUB, LINKEDIN } from '@/lib/constants';
const year = new Date().getFullYear();
---

<div
  class="container py-2 flex items-center justify-between text-xs sm:text-sm"
>
  <span>
    &copy; {year} Viet-Hung Nguyen.
  </span>
  <span>
    Build with <a
      href="https://astro.build"
      target="_blank"
      class="text-foreground/80 hover:text-foreground"
    >
      Astro
    </a> and ❤️
  </span>
</div>
