---
import type { Link } from '@/lib/links';
import Logo from '../header/Logo.astro';
import { Navigation } from '../header/Navigation';
import { ThemeSwitcher } from '../theme/ThemeSwitcher';

const LINKS: Link[] = [
  { title: 'Home', href: '/' },
  { title: 'Projects', href: '/projects' },
  { title: 'Blog', href: 'https://github.com' },
];

const active = Astro.url.pathname;
---

<div
  class="container py-1 flex items-center justify-between"
>
  <div class="flex items-center">
    <Logo />
    <Navigation links={LINKS} active={active} client:load />
  </div>
  <ThemeSwitcher client:load />
</div>
