---
import type { Link } from '@/lib/links';
import Logo from '../header/Logo.astro';
import { DesktopLinks } from '../header/NavigationLinks';
import { ThemeSwitcher } from '../theme/ThemeSwitcher';

const LINKS: Link[] = [
  { title: "Home", href: "/" },
  { title: "Projects", href: "/projects"},
  { title: "Blog", href: "https://github.com"}
]
---

<div class="flex">
  <Logo />
  <DesktopLinks links={LINKS} active={Astro.url.pathname} />
</div>
<ThemeSwitcher client:load />