---
import '@/styles/globals.css';
import ThemeProvider from '../components/theme/ThemeProvider.astro';
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ThemeProvider />
  </head>
  <body class="min-h-screen flex flex-col">
    <header class="px-2 p-1 border-b sticky flex items-center justify-between">
      <Header />
    </header>
    <main class="flex-1">
      <slot />
    </main>
    <footer class="px-2 p-1 border-t sticky flex items-center justify-between text-xs">
      <Footer />
    </footer>
  </body>
</html>
