---
import Footer from '@/components/common/Footer.astro';
import Header from '@/components/common/Header.astro';
import '@/styles/globals.css';
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="/theme.js"></script>
    <slot name="seo" />
  </head>
  <body class="min-h-screen flex flex-col">
    <header class="border-b sticky top-0 bg-background z-40">
      <Header />
    </header>
    <main class="flex-1">
      <slot />
    </main>
    <footer class="border-t">
      <Footer />
    </footer>
  </body>
</html>
