---
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import ThemeProvider from "@/components/theme/ThemeProvider.astro"
import "@/styles/globals.css"
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <slot name="seo" />
    <ThemeProvider />
  </head>
  <body class="flex min-h-screen flex-col">
    <header class="sticky top-0 z-40 border-b bg-background">
      <Header />
    </header>
    <main class="flex flex-1 flex-col">
      <slot />
    </main>
    <footer class="border-t">
      <Footer />
    </footer>
  </body>
</html>
